<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Playbasis Aggregator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Playbasis.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>framework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>pblib-unitywrapper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>pblib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>pblibResource.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>pblibTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>pblibWrapperTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>pblibx86-unitywrapper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>pblibx86.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1E2A42C41D0EB6FA00A836B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E3D721C1CFDA3A60054B73A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E3D72361CFDB6F70054B73A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E52DDFC1AAFFD970035C9F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E649DA31D0AE17F00C1C680</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1EC065E61C7D04630066A29D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1EC5B9001A8F3AAD0007C8A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1EDA0B9A1D07C741007A357B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C1C74F417461E1B005F3B57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
